/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Inter", sans-serif !important;
}

a{
  text-decoration: none !important;
}

:root {
  --primary-color: #2A7DE1;
  --primaryHover-color: #1f6dcb;
  --secondary-color: #1AC8DB ;
  --notification-color: #F4B400 ;
  --card-bg-color: #fff; 
  --bg-color: #F8FAFC ;
  --text-color: #1E293B  ;
  --sidebar-color: #fff  ;
  
  
  /* --sidebar-color: #000  ; */
  /* --primary-color: #4C9DFF;  
  --secondary-color: #22D3EE;   
  --bg-color: #0F172A;  
    --text-color: #E5E7EB; 
    --card-bg-color: #020617;  */
}
html {
  scroll-behavior: smooth;
}
