
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -50%);
}

.spinner {
   width: 80px;
   height: 80px;
   display: grid;
   position: absolute;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   background: var(--c) 50%  0, 
        var(--c) 50%  100%, 
        var(--c) 100% 50%, 
        var(--c) 0    50%;
   background-size: 12px 12px;
   background-repeat: no-repeat;
   animation: spinner-3hs4a3 1s infinite;
}
/* 0575f6 */
.spinner::before {
   --c: radial-gradient(farthest-side,#0dadb6 92%,#0000);
   margin: 4.5px;
   background-size: 7px 7px;
   animation-timing-function: linear;
}

.spinner::after {
   --c: radial-gradient(farthest-side,#0dadb6 92%,#0000);
}

@keyframes spinner-3hs4a3 {
   100% {
      transform: rotate(.5turn);
   }
}